:root {
  --main-bg-color: #1F1619;
  --main-text-color: #D63D42;
  --link-color: #E26840;
  --link-clicked-color: #88202D;
  --border-color: #4F2B2F;
}

//:root {
//  --main-bg-color: #FEEAFA;
//  --main-text-color: #494448;
//  --link-color: #242423;
//  --link-clicked-color: #242423;
//  --border-color: #242423;
//}

@import "~bootstrap/scss/bootstrap-grid";
@import "~bootstrap/scss/bootstrap-utilities";

/*66 25 34*/

/* :root {
    --main-bg-color: #18191d;
    --main-text-color: #D63D42;
    --link-color: #E26840;
    --link-clicked-color: #88202D;
    --border-color: #4F2B2F;
} */

body {
  margin: 0px;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: 'Iosevka', monospace;
  overflow-x: hidden;
}

a {
  color: var(--link-color);
}

a,
a:visited,
a:hover {
  text-decoration: none;
  transition: .5s;
  color: var(--link-color);
}

a:hover {
  color: var(--link-clicked-color);
  transition: .5s;
}

.centraldiv {
  display: flex;
  text-align: center;
  justify-content: center;
  line-height: 1.2rem;
  width: 100vw;
  max-width: 1024px;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.h3h3 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.centralh1 {
  text-transform: uppercase;
  letter-spacing: 1rem;
  margin-bottom: 40px;
  margin-top: 0;
  text-indent: 1.75rem;
  font-weight: 600;
  transition: 1s;
}

.projects-grid-span {
  display: flex;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;

  & > .row > * {
    margin-bottom: 33px;
  }
}

.projects-box {
  display: flex;
  flex-direction: column;
  text-align: left;
  flex-grow: 1;
  flex-basis: 0;
  border: 2px dashed var(--border-color);
  padding: 15px;
  height: 100%;
  margin-left: 2.5px;
  margin-right: 2.5px;
  backdrop-filter: blur(4px);
  --webkit-backdrop-filter: blur(4px);
}

.projects-box__title {
  flex: 0 1 0;
  font-size: 24px;
  margin: 4.2px 0 19.2px;
  line-height: 19.2px;
  color: var(--link-color);
}

.projects-box__text {
  flex: 1 0 0;
  margin-top: 0px;
  margin-bottom: 0;
}

.readmore-a {
  flex: 1 0 2;
  text-align: right;
  flex-grow: 1rem;
  align-self: flex-end;
  position: relative;
  bottom: 0;
  margin-bottom: -5px;
  margin-top: 10px;
}

.title-separator {
  /*    border-bottom: 2px solid var(--main-text-color); */
  color: var(--link-clicked-color);
}

#globecanvas {
  position: fixed;
  bottom: -300px;
  right: -200px;
  width: 850px;
  height: 850px;
  z-index: -999;
  opacity: 0.085;
}


/* MEDIA QUERIES */

@media (min-width: 1080px) {
  .projects-grid-span {}
}

@media (max-width: 675px) {
  .centralh1 {
    font-size: 1.5rem;
    letter-spacing: 0.65rem;
    text-indent: 0.85rem;
  }

  .h3h3 {
    transition: none;
  }

  .projects-box {
    margin-bottom: 10px;
  }
}

//span.projects-grid-span div.row div.col-md-4 span.projects-box
@media (max-width: 768px) {
  .projects-box--marginBottom > .projects-box {
    margin-bottom: 15px;
  }
  .projects-box {
    height: auto;
  }
}

/* <363 */
@media (max-width: 675px) {
  .links {
    display: block;
  }

  .ticks {
    display: none;
  }

  .h3h3 {
    line-height: 2rem;
    font-size: 20px;
  }
}

/*@media (min-width: 375px) and (max-width: 675px) { 
    .links {
        display: block;
    }
    .ticks {
        display: none;
    }
    .h3h3 {
        line-height: 2rem;
        font-size: 20px;
    }
}*/

@media (max-width: 375px) {
  .centralh1 {
    font-size: 1.2rem;
  }
}
